.title {
  font-size: 1.6rem;
  text-align: center;
  color: #333;
  
}

.link{
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  text-decoration: none;
  margin-bottom: 2rem;
}