.select{
    align-items: center;
    height: 4rem;
    width: 20rem;
    border-radius: 10px;
    border: 1px solid #022A98;
    margin: 1rem;
    padding: 0.5rem 1rem;
}

.formLabel{
    font-size: 1.7rem;
    color: black;
}

.container{
    width: 95%;
    margin: 0 auto;
}